@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.6;
}

/* Add this CSS to your global styles or a CSS module */
.card-container {
  transform-style: preserve-3d;
}

.card-container:hover {
  transform: scale(1.1); /* Zoom in effect */
  z-index: 10;
}

/* Add this to your global stylesheet to make sure toasts are visible */
.Toastify__toast-container {
  z-index: 9999; /* Ensures toasts appear on top */
}


